[
 {deployerl,
  [
   {mode, server},            %% server | client
   {roles, []},               %% any atom you like, the server itself can also manage apps
   {udp_port, 9999},          %% used for broadcast

   %% where to get the manifest, only needed when in server mode
   {manifest,
    [
     {method, tcp}, %% tcp | s3
     {type, json},  %% json | term
     {url, "https://gist.githubusercontent.com/MarkNijhof/28bca37d4a3905ccc1e3/raw/4bbe53bb57a6ea2c9b375081ce1e7dee87a1b6da/json"}
    ]}
  ]},





 {lager,
  [
   {colored, true},
   {handlers,
    [
     {lager_console_backend, info},
     {lager_file_backend, [{file, "./log/error.log"}, {level, error}]},
     {lager_file_backend, [{file, "./log/console.log"}, {level, info}]}
    ]}
  ]},

 {exometer,
  [
   {defaults,
    [
     {['_'], function , [{module, exometer_function}]},
     {['_'], counter  , [{module, exometer}]},
     {['_'], histogram, [{module, exometer_histogram}]},
     {['_'], spiral   , [{module, exometer_spiral}]},
     {['_'], duration , [{module, exometer_folsom}]},
     {['_'], meter    , [{module, exometer_folsom}]},
     {['_'], gauge    , [{module, exometer_folsom}]}
    ]},

   {report,
    [
     {subscribers,
      [
       {exometer_report_collectd, [erlang, system_info], port_count, 1000, true},
       {exometer_report_collectd, [erlang, system_info], process_count, 1000, true},
       {exometer_report_collectd, [erlang, system_info], schedulers_online, 1000, true},
       {exometer_report_collectd, [erlang, system_info], thread_pool_size, 1000, true}
      ]},

     {reporters,
      [
       {exometer_report_collectd,
        [
         {reconnect_interval, 10},
         {refresh_interval, 20},
         {read_timeout, 5000},
         {plugin_name, "erlang"},
         {plugin_instance, ""},
         {type_map,
          [
           {[erlang, system_info, port_count],        "gauge"},
           {[erlang, system_info, process_count],     "gauge"},
           {[erlang, system_info, schedulers_online], "gauge"},
           {[erlang, system_info, thread_pool_size],  "gauge"}
          ]}
        ]}
      ]}
    ]}
  ]}
].
